extends ../layout
block content
    h1= title
    br

    #wrapper
        #projectList
            table#projects.table.table-hover.table-striped.table-bordered
                thead
                    th Naziv projekta
                    th Opis
                    th Obavljeni poslovi 
                    th Cijena
                    th Datum početka
                    th Datum završetka
                    th Uloga
                tbody
                if (projects && projects.length > 0)
                    each project in projects
                        tr
                        td= project.naziv_projekta
                        td= project.opis_projekta
                        td= project.obavljeni_poslovi
                        td= project.cijena_projekta
                        td= project.datum_pocetka.toDateString()
                        td= project.datum_zavrsetka.toDateString()
                        if(project.isOwner)
                            td Voditelj
                        else
                            td Član
                else
                    tr
                    td= "Nema projekata"
                    td
                    td
                    td
                    td
                    td
                    td